@import 'tailwindcss';
@import '@nuxt/ui';
@plugin "@tailwindcss/typography";

:root {
    --ui-primary: '#333';
    --ui-text-dimmed: var(--ui-color-stone-400);
    --ui-text-muted: var(--ui-color-stone-500);
    --ui-text-toned: var(--ui-color-stone-600);
    --ui-text: var(--ui-color-stone-700);
    --ui-text-highlighted: var(--ui-color-stone-900);
    --ui-text-inverted: var(--color-white);
}

.dark {
    --ui-primary: white;
}

.black-overlay::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 5;
    pointer-events: none;
}
